:root{
  --priamary-color:#5dd0e7;
  --border-color:#e5e8ec;
  --text-color:#184363;
}
.header{
  background-color: var(--priamary-color);
  text-align: center;
  color: white;
}
.header .container{
  padding: 2%;
}
.header .underline{
  border-bottom: 3px solid;
  width: 120px;
  position: relative;
  display: flex;
  left: 44.5%;
}
.cart-title {
  font-size: 24px;
  font-weight: 600;
}
.card-content{
  padding-top: 6%;
}
.card-content .card-items{
  padding: 3%;
}
.card-item {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.card-item img {
  max-height: 70px;
  object-fit: contain;
  background-color:var(--border-color) ;
  padding: 7%;
}
.card-item h6{
  color: var(--text-color);
}
.card-item .buttons .remove-btn{
  border-color: var(--border-color);
  color: red;
  font-size: 13px;
  width: 70px;
  border-radius: 5px;
}
.card-item .buttons .remove-btn:hover,
.card-buttons .remove-btn:hover{
  color: white;
  background-color: red;
}
.card-item .buttons .save-btn{
  border-color: var(--border-color);
  color: var(--priamary-color);
  font-size: 13px;
  width: 100px;
  border-radius: 5px;
}
.card-item .buttons .save-btn:hover,
.card-buttons .back-btn:hover{
  color: white;
  background-color: var(--priamary-color);
}
.card-item .quantity{
  padding-left: 11%;
}
.card-item .quantity span{
  font-size: 11px;
  padding-left: 61%;
}
.card-item .quantity .form-select{
  width: 148px;
  font-size: 11px;
  color: darkgrey;
}
.card-buttons .back-btn{
  border-color: var(--border-color);
  color: var(--priamary-color);
  font-size: 13px;
  width: 116px;
  border-radius: 5px;
}

.card-buttons .remove-btn{
  border-color: var(--border-color);
  color: var(--priamary-color);
  font-size: 13px;
  width: 116px;
  border-radius: 5px;
}
/*-----------order-summary-----------*/
.order-summary .coupon h6{
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color);
}
.order-summary .coupon .input-group input {
  font-size: 15px;
}
.order-summary .coupon .input-group button{
  width: 35%;
  border-color: var(--border-color);
  font-size: 15px;
}
.order-summary .price-details{
  padding: 1.5rem;
}
.order-summary .price-details .type{
  font-size: 13px;
  color: var(--text-color);
}
.order-summary .price-details .amount{
  font-size: 13px;
}
.order-summary .price-details .total-amount .total{
  font-size: 13px;
}
.order-summary .price-details .total-amount .amount{
  font-size: 15px;
}
.order-summary .price-details a{
  background-color: #184363;
  color: white;
  padding: 4%;
  font-size: 16px;
}
.order-summary .price-details a:hover{
  background-color: transparent;
  border: 1px solid var(--priamary-color);
  color: var(--priamary-color);
}