.categoryDescription {
    border-radius: 4px;
    color: var(--text-secondary);
    font-size: 0.95rem;
    line-height: 1.8;
    padding: 20px;
    font-size: 0.85rem;
    padding: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .categoryDescription {
        font-size: 0.95rem;
        padding: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .categoryDescription {
        font-size: 0.95rem;
    }
}